[submodule "surf"]
	path = surf
	url = https://git.suckless.org/surf
[submodule "dwm"]
	path = dwm
	url = https://git.suckless.org/dwm
[submodule "st"]
	path = st
	url = https://git.suckless.org/st
[submodule "dwm-flexipatch"]
	path = dwm-flexipatch
	url = https://github.com/LegioN2004/dwm-flexipatch
